#main{
	width:100%;
	height:1000px;
}
#header{
	width:100%;
	height:52px;
	background-color:lightblue;
}
#footer{
	width:100%;
	height:948px;
	background-color:lightblue;
}
#nav{
	position: fixed;
	width: 1350px;
	background-color: pink;
	left: 0px; 
}

#help{
	 color:black;
	 font-size:20px;
}
#sign{
	 color:black;
	 font-size:25px;
}
#log{
	 color:black;
	 font-size:25px;
}
#how{
	 color:black;
	 font-size:15px;
	 
}
#how1{
	 color:black;
	 font-size:15px;
	 
}
#ul{
	position:fixed;
	top:80px;
	left:90px;
	height:500px;
	font-size:30px;
	color:blue;
}
#head{
	color:black;
	
}